.about {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: row-reverse;
    padding: 20px;
}
.content-about,
.img {
    flex: 1;
    display: flex;
    justify-content: center;
}
.content-about {
    flex-direction: column;
    padding: 15px;
}
.content-about h2 {
    font-size: 38px;
    margin-bottom: 20px;
}
.content-about p {
    font-size: 18px;
    line-height: 1.5;
}
.img {
    align-items: center;
}
.image {
    max-width: 500px;
    height: auto;
}