footer {
    width: 80%;
    margin: auto;
    padding: 50px;
    display: flex;
    align-items: center;
}
.footer-left,
.footer-right {
    display: flex;
    flex: 1;
}
.footer-left {
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
.footer-right {
    gap: 12px;
    justify-content: flex-end;
}
.img-projeto {
    width: 100px;
    height: auto;
}
.img-escola {
    width: 250px;
    height: auto;
}

@media (min-width: 450px) and (max-width: 850px) {
    footer {
        flex-direction: column;
        padding: 20px;
    }
    .footer-left {
        align-items: flex-start;
        width: 100%;
    }
    .footer-right {
        margin-top: 25px;
    }
}
@media (max-width: 450px) {
    footer {
        flex-direction: column;
        padding: 20px;
    }
    .footer-left {
        align-items: flex-start;
        width: 100%;
    }
    .footer-right {
        margin-top: 25px;
        flex-direction: column;
    }
    .img-escola {
        width: 50%;
        height: auto;
    }
    .img-projeto {
        width: 30%;
        height: auto;
    }
}