.banner {
    background-image: url(../img/fundo2.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 100px);
}

@media (max-width: 450px) {
    .banner {
        background-position: left;
    }
}