.tema {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 80px;
}
.content-tema,
.img {
    flex: 1;
    display: flex;
    justify-content: center;
}
.content-tema {
    padding: 15px;
    flex-direction: column;
}
.content-tema h2 {
    font-size: 38px;
    margin-bottom: 20px;
}
.content-tema p {
    font-size: 17px;
    line-height: 1.5;
}
.img {
    align-items: center;
}
.image {
    max-width: 500px;
    height: auto;
}

@media (max-width: 1024px) {
    .tema {
        flex-direction: column-reverse;
        margin-top: 25px;
    }
    .content-tema h2 {
        text-align: center;
    }
}
@media (min-width: 450px) and (max-width: 850px) {
    .tema {
        flex-direction: column-reverse;
        margin-top: 25px;
    }
    .img {
        margin-bottom: 25px;
    }
    .content-tema {
        padding: 0;
    }
    .content-tema h2 {
        text-align: center;
        font-size: 34px;
    }
    .content-tema p {
        font-size: 15px;
    }
    .image {
        width: 80%;
    }
}
@media (max-width: 450px) {
    .tema {
        flex-direction: column-reverse;
        margin-top: 25px;
    }
    .img {
        margin-bottom: 25px;
    }
    .content-tema {
        padding: 0;
    }
    .content-tema h2 {
        text-align: center;
        font-size: 24px;
    }
    .content-tema p {
        font-size: 15px;
    }
    .image {
        width: 80%;
    }
}