.about {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 80px;
}
.content-tema,
.img {
    flex: 1;
    display: flex;
    justify-content: center;
}
.content-tema {
    padding: 15px;
    flex-direction: column;
}
.content-tema h2 {
    font-size: 38px;
    margin-bottom: 20px;
}
.content-tema p {
    font-size: 17px;
    line-height: 1.5;
}
.img {
    align-items: center;
}
.image {
    max-width: 500px;
    height: auto;
}